{% extends 'avirtual/base.html' %}
{% load static %}
{% block content %}


<div class="container col-6 mt-3 shadow">
    <div class="row bg-light text-black align-items-stretch">
      {% load crispy_forms_tags %}
      <div class="col">
        <div class="row  justify-content-center">
        <img src="{% static "avirtual/img/LOGO-BLACK.png" %}" class="img-fluid mt-3" alt="Logo" style="width:250px;">
        </div>
        <div class="row  justify-content-center">
          <h2 class="fw-bold text-black text-center mt-3"> Iniciar Sesión </h2>
          <form action="" method="post" class="col-6 mt-2">
            {% csrf_token %}
            {{ login_form | crispy }}
            <div class="d-flex justify-content-center">
              <input type="submit" value="Ingresar" class="btn btn-primary float-center mt-3">
            </div>
          </form>
          <small class="text-muted text-center mt-3 mb-3">
              ¿No tiene una cuenta? <a class="ml-2" href="#">Cree una cuenta.</a>
          </small>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}